@model Card_Tracker_v3.ViewModels.AddCardViewModel

@{
    ViewData["Title"] = "AddCardsToRepository";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    table {
        font-size: 1em;
    }

    .ui-draggable, .ui-droppable {
        background-position: top;
    }
</style>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">

<h1>AddCardsToRepository</h1>

<h4>CardRepositoryLookUp</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCardsToRepository">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group ui-widget">
                <label asp-for="CardRepositories" class="control-label">Select a Repository to Add to: </label>
                <select asp-for="CardRepositoryLookUp.CardRepositoriesId">
                    @foreach (CardRepositories repository in Model.CardRepositories)
                    {
                        <option value="@repository.Id">@repository.RepositoryName</option>
                    }
                </select>
                <span asp-validation-for="CardRepositoryLookUp.CardApiID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Card Name:</label>
                <input id="CardSearch" class="form-control" asp-for="CardRepositoryLookUp.CardName" onkeyup="GetCards()" />
            </div>
            
            <input type="hidden" id="CardApiId" asp-for="CardRepositoryLookUp.CardApiID"/>

            <div class="form-group">
                <label asp-for="CardRepositoryLookUp.Amount" class="control-label"></label>
                <input asp-for="CardRepositoryLookUp.Amount" class="form-control" />
                <span asp-validation-for="CardRepositoryLookUp.Amount" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            <div>
                <p class="text-danger">@ViewData["CardPostStatus"]</p>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<script>
    

    var availableTags = [];
    //This is where i want to update the autofill options
    function GetCards() {
        var searchText = $("#CardSearch").val();
        $.ajax({
            url: 'https://api.scryfall.com/cards/search?format=json&include_extras=false&include_multilingual=false&order=cmc&page=0&q=' + searchText,
            type: 'GET',
            dataType: 'JSON',
            success: function (data) {
                
                if (data.total_cards != 0) {
                    availableTags.length = 0;
                    for (const i of data.data ){
                        availableTags.push(i.name);
                    }
                    document.getElementById("CardApiId").value = data.data[0].id;
                    //var test = document.getElementById("CardApiId").value;
                }
                console.log(availableTags.length);
            },
            error: function () {
                console.log("something went wrong");
            }
        });
    }
    $("#CardSearch").autocomplete({
        source: availableTags
    });

    
</script>

<script>
    
</script>